<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>card</title>
</head>
<body class="test">
	<link rel="stylesheet" href="style.card.css">
	<div class="card">
		<img src="https://ionicframework.com/img/homepage/demo-image.png" alt="">
		<div class="title">
			<h1>hello world</h1>
		</div>
		<div class="subtitle">
			<h2>when soup hello</h2>
		</div>
		<div class="desc">
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur nihil eius quod aperiam nostrum illum corporis veniam ipsum non tempora.</p>
		</div>
		<br/>
	</div>
</body>
</html>
